*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
  
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-image: linear-gradient(45deg,black,crimson) ;
    color: white;
}
h1{
    margin: -5px 0px 5px 0px;
    font-size: 2em;
    transition: 1s;
}
.calculadora{
    font-size: 16px;
    width: 270px;
    height: 300px;
    display: flex;
    background-color: rgba(0,0,0,0.9 ) ;
    border-radius: 15px;
    padding: 20px;
    flex-direction: column ;
    align-items: center;
    transition: 1s;
    box-sizing: border-box;

}

.botão{
    width: 45px;
    height: 45px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    color:white;
    border: none;
    margin-top: 2px;
    transition: width 1s, height 1s, transform 0.5s;
    margin: 1px;


}
#bt1:hover{
    transform: scale(1.1);

    
}
#bt2:hover{
    transform: scale(1.1);
    
}
#bt3:hover{
    transform: scale(1.1);
    
}
#bt4:hover{
    transform: scale(1.1);
    
}
.tabela{
    width: 100%;
    min-height: 100%;
}
.botão:hover{
background-color: red;

}

.Numeros{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    margin: 5px 0px 0px 0px;
}

.textosinterativos{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
    transition: 1s;

}

#resultado{
    width: 100%;
    height: 30px;
    background-color: white;
    font-size: 16px;
    color: black;
    text-align: center;
    margin: 2px 0px 5px 0px ;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid black
}


footer{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
background-color: black;
padding: 10px;
display: flex;
color: white;
font-size: 8px;
justify-content: center;
flex-direction: row;
margin: -34px 0px 0px 0px;
}

input[type=number]::-webkit-inner-spin-button { 
-webkit-appearance: none;

}

@media screen and (max-width: 340px) {
    footer{
        margin: -48px 0px 0px 0px;
        
    }
}

@media screen and (max-width: 300px) {
    .calculadora{
        width: 150px;
        transition: 1s;
    }
    h1{
        font-size: 1.3em ;
        
    }
    .botão{
        width: 35px;
        height: 35px;
    }
    
}

@media screen and (max-width: 180px) {
    footer{
        margin: -62px 0px 0px 0px;
        
    }

}